{{ define "main" }}
    <main aria-role="main">
        <div>
            <h1>{{ .Site.Title }}</h1>

            {{- with .Site.Params.homeSubtitle }}
                <p>{{.}}</p>
            {{- end }}

            {{- with .Site.Params.social }}
                <div>
                    {{ partial "social-icons.html" . }}
                </div>
            {{- end }}
            <div>
              <b> Aquí iría QUIENES SOMOS</b>
            </div>
            <div>
              <b> Aquí iría CONTACTAR CON NOSOTROS</b>
            </div>
            <div>
              <b> Aquí iría SOLICITA TELEGRAM</b>
            </div>
        </div>
    </main>
{{ end }}
